<div class="modal-form-callback">
    <div class="close"></div>
    <form
        data-request="productFeedback::onSend"
        data-request-data="program_id: '{{ formprogram.id }}'"
        data-request-flash
        data-request-validate
    >
        <fieldset>
            <legend>{{ 'Форма обратной связи'|_ }}</legend>
            <p>{{ formprogram.name }}</p>
            <ul class="contacts-form">
                <li>
                    <input type="text" id="name" name="first_name" placeholder="{{ 'Имя'|_ }}" data-validate="name">
                    <div class="error-text" data-validate-for="first_name"></div>
                </li>
                <li>
                    <input type="text" id="last-name" name="last_name" placeholder="{{ 'Фамилия'|_ }}" data-validate="name">
                    <div class="error-text" data-validate-for="last_name"></div>
                </li>
                <li>
                    <input type="text" class="phone-mask" id="phone" name="phone" placeholder="{{ 'Телефон'|_ }}" data-inputmask="'alias': 'phone'" data-validate="phone">
                    <div class="error-text" data-validate-for="phone"></div>
                </li>
                <li>
                    <input type="text" id="meil" name="email" placeholder="{{ 'Почта'|_ }}" data-validate="email">
                    <div class="error-text" data-validate-for="email"></div>
                </li>
                <li class="question">
                    <textarea name="message" id="question" placeholder="{{ 'Занимались ли ранее каким-то спортом? Каким?'|_ }}" data-validate="default"></textarea>
                    <div class="error-text" data-validate-for="message"></div>
                </li>
            </ul>
        </fieldset>
        <div class="submit" id="foot-button">{{ 'Отправить'|_ }}</div>
    </form>
</div>

<script>
    $("form").validate();
    $("input.phone-mask").mask("+3(999)999-9999");
</script>