description = "Default layout"

[seo]
==

<!DOCYYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form data-request="onRegister">
		<div>
			<label>Имя</label>
			<input type="text" name="first_name">
		</div>
		<div>
			<label>Фамилия</label>
			<input type="text" name="last_name">
		</div>
		<div>
			<label>Телефон</label>
			<input type="text" name="phone">
		</div>
		<div>
			<label>E-mail</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Пароль</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Повторный пароль</label>
			<input type="text" name="email">
		</div>
		<input type="submit" name="">
	</form>

</body>
</html>