description = "Default layout"

[seo]
[pages]
partial = "pages.htm"

[socials]
partial = "socials.htm"

[askQuestion]
partial = "askquestion.htm"

[contacts]
partial = "footer-contacts.htm"

[footer]
partial = "footer.htm"

[formTeam]
partial = "team.htm"

[productFeedback]

[account]
partial = "account.htm"

[session]

==

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	{% component 'seo' %}
    <link rel="icon" href="{{ 'assets/img/icon.png'|theme }}" type="image/png" class="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://use.fontawesome.com/6eebe0124d.js"></script>
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
    {% styles %}
</head>
<body class="wrapper">
<header>
    <div class="container">
        <div class="head">
            <div class="button-in-item">
                <a href="#">{{ 'Хочу в команду'|_ }}</a>
            </div>
            <div class="head-item">
                <a href="{{ 'home'|page }}">
                    <img src="{{ 'assets/img/logo.png'|theme }}" alt="Logo">
                </a>
            </div>
            <div class="button-item">
                <div class="but-bloc">
                    {% if not user %}
                    <div class="in-t">{{ 'Войти'|_ }}</div>
                    <div class="button-in">
                        <a href="#" class="in"><img src="{{ 'assets/img/web-log-in.png'|theme }}" alt=""></a>
                    </div>
                    {% else %}
                    <div class="profile">
                        <a href="{{ 'account'|page }}">{{ 'Профиль'|_ }}</a>
                    </div>
                    <div class="button-out">
                        <a href="#" data-request="session::onLogout" data-request-data="redirect: '/'" class="out"><img src="{{ 'assets/img/web-log-out.png'|theme }}" alt=""></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% component 'pages' %}
    {% component 'formTeam' %}

    <div class="modal modal-in">
        <div class="modal-form-in">
            <div class="close"></div>
            <div class="logo">
                <a href="index.html">
                    <img src="{{ 'assets/img/logo.png'|theme }}" alt="Logo">
                </a>
            </div>
            <div class="login-f">
                <a href="/auth/facebook">{{ 'Войти через Facebook'|_ }}</a>
            </div>
            <form
                data-request="account::onSignin"
                data-request-data="redirect: '/account'"
                data-request-flash
                data-request-validate
            >
                <ul>
                    <li>
                        <input type="text" id="meil" name="email" value="" placeholder="{{ 'Почта'|_ }}" data-validate="email">
                        <div class="error-text" data-validate-for="email"></div>
                    </li>
                    <li>
                        <input type="password" id="pass" name="password" placeholder="{{ 'Пароль'|_ }}">
                        <div class="error-text" data-validate-for="password"></div>
                    </li>
                    <input type="submit" value="{{ 'Войти'|_ }}" class="in-ok">
                </ul>
            </form>
            <div class="button-reg">
                <a>{{ 'Зарегистрироваться'|_ }}</a>
            </div>
            <div class="button-forgot">
                <a href="{{ 'forgot-password'|page }}">{{ 'Забыли пароль?'|_ }}</a>
            </div>
        </div>
    </div>

    <div class="modal modal-reg">
        <div class="modal-form-reg">
            <div class="close"></div>
            <form
                data-request="account::onRegister"
                data-request-data="redirect: '/account'"
                data-request-flash
                data-request-validate
            >
                <fieldset>
                    <legend>{{ 'Регистрация'|_ }}</legend>
                    <p>{{ 'Ваш возраст'|_ }}</p>
                    <ul class="age-form">
                        <li>
                            <input type="radio" id="check1" name="patronymic" value="18-24" class="checkbox">
                            <label for="check1">18-24</label>
                        </li>
                        <li>
                            <input type="radio" id="check2" name="patronymic" value="25-30" class="checkbox">
                            <label for="check2">25-30</label>
                        </li>
                        <li>
                            <input type="radio" id="check3" name="patronymic" value="31-35" class="checkbox">
                            <label for="check3">31-35</label>
                        </li>
                        <li>
                            <input type="radio" id="check4" name="patronymic" value="36-45" class="checkbox">
                            <label for="check4">36-45</label>
                        </li>
                        <li>
                            <input type="radio" id="check5" name="patronymic" value="46-55" class="checkbox">
                            <label for="check5">46-55</label>
                        </li>
                    </ul>
                    <ul class="contacts-form">
                        <li>
                            <input type="text" id="name" name="first_name" placeholder="{{ 'Имя'|_ }}" data-validate="name">
                            <div class="error-text" data-validate-for="first_name"></div>
                        </li>
                        <li>
                            <input type="text" id="last-name" name="last_name" placeholder="{{ 'Фамилия'|_  }}" data-validate="name">
                            <div class="error-text" data-validate-for="last_name"></div>
                        </li>
                        <li>
                            <input type="text" id="phone" class="phone-mask" phone" placeholder="{{ 'Телефон'|_ }}" data-inputmask="'alias': 'phone'" data-validate="phone">
                            <div class="error-text" data-validate-for="phone"></div>
                        </li>
                        <li>
                            <input type="text" id="email" name="email" placeholder="{{ 'Почта'|_  }}" data-validate="email">
                            <div class="error-text" data-validate-for="email"></div>
                        </li>
                        <li>
                            <input type="password" id="password" name="password" placeholder="{{ 'Пароль'|_  }}" data-validate="password">
                            <div class="error-text" data-validate-for="password"></div>
                        </li>
                        <li>
                            <input type="password" id="password_confirmation" name="password_confirmation" placeholder="{{ 'Подтверждение пароля'|_  }}" data-validate="password" data-confirm="password">
                            <div class="error-text" data-validate-for="password_confirmation"></div>
                        </li>
                    </ul>
                </fieldset>
                <div class="submit" id="foot-button">
                    {{ 'Отправить'|_ }}
                </div>
            </form>
        </div>
    </div>
</header>
{% page %}
{% component 'footer' %}
{% flash %}
    <p
        data-control="flash-message"
        class="flash-message fade {{ type }}"
        data-interval="5">
        {{ message }}
    </p>
{% endflash %}
	<script
	        src="https://code.jquery.com/jquery-2.2.4.min.js"
	        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	        crossorigin="anonymous"></script>
    <script src="{{ 'assets/js/jquery.maskedinput.js'|theme }}" type="text/javascript"></script>
	<script src="{{ 'assets/js/validate.js'|theme }}"></script>
	<script src="{{ 'assets/js/main.js'|theme }}"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
    <script>
        $('.button-change-contact').on('click', function() {
            $('input[type="password"]').val('');
        });
    </script>
	{% framework extras %}
    {% scripts %}
</body>
</html>