<main>
    <section class="user">
        <div class="container">
            <div class="content">
                <h2>
                    {{ 'Личная информация'|_ }}
                </h2>
                <ul>
                    <li>
                        <p>{{ 'Имя'|_ }}:</p>
                        <div class="first-name">
                            {{ user.first_name }}
                        </div>
                    </li>
                    <li>
                        <p>{{ 'Фамилия'|_ }}:</p>
                        <div class="last-name">
                            {{ user.last_name }}
                        </div>
                    </li>
                    {% if user.phone %}
                    <li>
                        <p>{{ 'Телефон'|_ }}:</p>
                        <div class="my-phone">
                            {{ user.phone }}
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <p>{{ 'Почта'|_ }}:</p>
                        <div class="my-email">
                            {{ user.email }}
                        </div>
                    </li>
                    {% component 'programsUser' %}
                </ul>
                <div class="button-change-contact">{{ 'Изменить'|_ }}</div>
            </div>
        </div>
    </section>

    <div class="modal modal-prog"></div>
    <div class="modal modal-callback"></div>

    <div class="modal modal-change-contact">
        <div class="modal-form-change-contact">
            <div class="close"></div>
            <form
                data-request="account::onUpdate"
                data-request-flash
                data-request-validate
            >
                <fieldset>
                    <legend>{{ 'Внести изменения'|_ }}</legend>
                    <ul class="contacts-form">
                        <li>
                            <input type="text" id="name" name="first_name" value="{{ user.first_name
                             }}" placeholder="{{ 'Имя'|_ }}" data-validate="name">
                            <div class="error-text" data-validate-for="first_name"></div>
                        </li>
                        <li>
                            <input type="text" id="last-name" name="last_name" value="{{ user.last_name
                             }}" placeholder="{{ 'Фамилия'|_ }}" data-validate="name">
                            <div class="error-text" data-validate-for="last_name"></div>
                        </li>
                        <li>
                            <input type="text" id="phone" class="phone-mask" name="phone" value="{{ user.phone }}" placeholder="{{ 'Телефон'|_ }}" data-inputmask="'alias': 'phone'" data-validate="phone">
                            <div class="error-text" data-validate-for="phone"></div>
                        </li>
                        <li>
                            <input type="text" id="meil" name="email" value="{{ user.email }}" placeholder="{{ 'Почта'|_ }}" data-validate="email">
                            <div class="error-text" data-validate-for="email"></div>
                        </li>
                    </ul>
                    <p>{{ 'Изменить пароль'|_ }}</p>
                    <ul class="pass-form">
                        <li>
                            <input type="password" name="old_password" placeholder="{{ 'Старый пароль'|_ }}"  data-validate="password-default" data-required="password">
                            <div class="error-text" data-validate-for="old_password"></div>
                        </li>
                        <li>
                            <input type="password" id="password" name="password" value="" placeholder="{{ 'Новый пароль'|_ }}" data-validate="password-default" data-required="old_password">
                            <div class="error-text" data-validate-for="password"></div>
                        </li>
                        <li>
                            <input type="password" id="password_confirmation" name="password_confirmation" value="" placeholder="{{ 'Подтверждение пароля'|_ }}" data-validate="password-default" data-confirm="password">
                            <div class="error-text" data-validate-for="password_confirmation"></div>
                        </li>
                    </ul>
                </fieldset>
                <div class="submit" id="button-change-contact">{{ 'Отправить'|_ }}</div>
            </form>
        </div>
    </div>
</main>