<div class="communications">
    <h2>
        {{ 'Задать вопрос'|_ }}
    </h2>
    <form
        data-request="onSend"
        data-request-flash
        data-request-validate
    >
        <input type="text" id="name" name="full_name" placeholder="{{ 'Имя'|_ }}">
        <div class="error-text" data-validate-for="full_name"></div>
        <input type="text" id="email" name="email" placeholder="{{ 'Почта'|_ }}">
        <div class="error-text" data-validate-for="email"></div>
        <textarea name="massage" id="#message" placeholder="{{ 'Сообщение'|_ }}"></textarea>
        <div class="error-text" data-validate-for="massage"></div>
        <input type="submit" value="{{ 'Отправить'|_ }}" id="foot-button">
    </form>
</div>