{% if form.is_feedback %}
    <form
        class="write-us"
        data-request="onSend"
        data-request-flash
        data-request-validate
    >
        <fieldset>
            <legend>{{ 'Написать нам'|_ }}</legend>
            <ul>
                <li>
                    <input type="text" id="#name" placeholder="{{ 'Имя'|_ }}" name="full_name" size="24">
                    <div class="error-text" data-validate-for="full_name"></div>
                </li>
                <li>
                    <input type="text" id="meil" placeholder="{{ 'Почта'|_ }}" name="email" size="24">
                    <div class="error-text" data-validate-for="email"></div>
                </li>
                <li>
                    <textarea name="message" id="#message" cols="61" rows="6" placeholder="{{ 'Сообщение'|_ }}"></textarea>
                    <div class="error-text" data-validate-for="message"></div>
                </li>
            </ul>
        </fieldset>
        <input type="submit" value="{{ 'Отправить'|_ }}">
    </form>
{% endif %}