{% if form.is_feedback %}
    <form
        class="write-us"
        data-request="onSend"
        data-request-flash
        data-request-validate
    >
        <fieldset>
            <legend>{{ 'Написать нам'|_ }}</legend>
            <ul>
                <li>
                    <input type="text" id="#name" placeholder="{{ 'Имя'|_ }}" name="full_name"  data-validate="name">
                    <div class="error-text" data-validate-for="full_name"></div>
                </li>
                <li>
                    <input type="text" id="meil" placeholder="{{ 'Почта'|_ }}" name="email"  data-validate="email">
                    <div class="error-text" data-validate-for="email"></div>
                </li>
                <li>
                    <textarea name="message" id="#message"  placeholder="{{ 'Сообщение'|_ }}" data-validate="default"></textarea>
                    <div class="error-text" data-validate-for="message"></div>
                </li>
            </ul>
        </fieldset>
        <div class="submit">{{ 'Отправить'|_ }}</div>
    </form>
{% endif %}