<footer>
    <div class="foot">
        <div class="container">
            <div class="about">
                <h2>
                    {{ 'О нас'|_ }}
                </h2>
                <p>{{ setting.about|raw|trim|striptags }}</p>
                {% component 'contacts' %}
                {% component 'socials' %}
            </div>
            {% component 'askQuestion' %}
        </div>
        <div class="bottom-foot">
            <div class="container">
                <p>
                    {{ 'Copyright'|_ }} {{ 'now'|date('Y') }}
                </p>
                <div class="copyright">
                    Development by&nbsp;
                    <a href="http://intertechcompany.com/" target="_blank">Intertech</a>
                </div>
            </div>
        </div>
    </div>
</footer>