<main>
    <section class="programs">
        <div class="container">
            <div class="content">
                <h2>
                    {{ 'Программы тренировок'|_ }}
                </h2>
                <form>
                    <fieldset>
                        <legend>{{ 'Выберите категорию'|_ }}</legend>
                        <ul>
                            <li>
                                <input checked="checked" type="radio" id="all" name="category" class="checkbox"
                                data-request="onFiltred"
                                data-request-update="'programs.htm' : 'div.list-prog'"
                                >
                                <label for="all"
                                >{{ 'Все'|_ }}</label>
                            </li>
                            {% for category in categories %}
                                <li>
                                    <input type="radio" id="category-{{ category.id }}" name="category" value="{{ category.slug }}" class="checkbox"
                                    data-request="onFiltred"
                                    data-request-data="id: '{{ category.id }}'"
                                    data-request-update="'programs' : '.list-prog'"
                                    >
                                    <label for="category-{{ category.id }}">{{ category.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>

                    </fieldset>
                </form>

                {% if programs|length > 0 %}
                    <div class="list-prog">
                        {% partial 'programs' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <div class="modal modal-prog"></div>

    <div class="modal modal-callback"></div>


</main>