<div class="modal modal-in-item">
    <div class="modal-form-in-item">
        <div class="close"></div>
        <form
            data-request="formTeam::onSend"
            data-request-flash
            data-request-validate
        >
            <fieldset>
                <legend>{{ 'Хочу в команду'|_ }}</legend>
                {% if categories|length > 0 %}
                    <ul class="age-form">
                        {% for category in categories %}
                            <li>
                                <input type="radio" id="{{ category.slug }}" name="category_id" value="{{ category.id }}" class="checkbox">
                                <label for="{{ category.slug }}">{{ category.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <ul class="contacts-form">
                    <li>
                        <input type="text" id="name" name="first_name" placeholder="{{ 'Имя'|_ }}" data-validate="name">
                        <div class="error-text" data-validate-for="first_name"></div>
                    </li>
                    <li>
                        <input type="text" id="last-name" name="last_name" placeholder="{{ 'Фамилия'|_ }}" data-validate="name">
                        <div class="error-text" data-validate-for="last_name"></div>
                    </li>
                    <li>
                        <input type="text" id="phone" name="phone" placeholder="{{ 'Телефон'|_ }}" data-validate="phone">
                        <div class="error-text" data-validate-for="phone"></div>
                    </li>
                    <li>
                        <input type="text" id="email" name="email" placeholder="{{ 'Почта'|_ }}" data-validate="email">
                        <div class="error-text" data-validate-for="email"></div>
                    </li>
                    <li class="question">
                        <textarea name="massage" id="massage" placeholder="{{ 'Занимались ли ранее каким-то спортом? Каким?'|_ }}" data-validate="default"></textarea>
                        <div class="error-text" data-validate-for="massage"></div>
                    </li>
                </ul>
            </fieldset>
            <div class="submit" id="foot-button">{{ 'Отправить'|_ }}</div>
        </form>
    </div>
</div>